# IntelliJ files that are not good to commit.
.idea/httpRequests/*
.idea/workspace.xml
workspace.xml
# Intellij REST request files that hold personal information.
rest-requests/environment/eca-login.json
rest-requests/environment/rest-client.private.env.json
# Unit test report files.
artifacts/test/*
