{
    "!comment": "Put private overrides here",

    "local": {
        "ecaCredentialsJson": "{ \"username\": \"username@datarecognitioncorp.com\", \"password\": \"Password\" }"
    },
    "development": {
        "ecaCredentialsJson": "{ \"username\": \"username@datarecognitioncorp.com\", \"password\": \"Password\" }"
    },
    "sqa": {
        "ecaCredentialsJson": "{ \"username\": \"username@datarecognitioncorp.com\", \"password\": \"Password\" }"
    },
    "production": {
        "ecaCredentialsJson": "{ \"username\": \"username@datarecognitioncorp.com\", \"password\": \"Password\" }"
    }
}
